#root {
  max-width: 1440px;
  height: 100%;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remember {
  margin: 15px 0 10px 0;
  font-size: medium;
}

.inputReg {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10px;
}

.last {
  margin-bottom: 20px !important;
}

.rememberCheck {
  accent-color: #75d178; 
  border: 1px solid #242424e2;
  width: 16px;
  height: 16px;
  border-radius: 10px; 
  cursor: pointer;
  background-color: white;
}