:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  color-scheme: light dark;
  color: #242424e2;
  background-color: #f8f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 700px;

  margin: 0;
}

body {
  height: 700px;
  margin: 0px;
}

a {
  color: #4CAF50;
  transition: 0.3s ease;
}

a:hover {
  color: #2b7b2e;
}

button {

  width: 160px;
  height: 40px;

  font-size: medium;

  background-color: #4CAF50;
  border-radius: 20px;
  border: 1px solid #75d178;

  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2b7b2e;
}

.enter {
  color: #242424e2;

  padding: 5px;

  font-size: large;

  width: 240px;
  height: 30px;

  font-weight: 600;

  margin-top: 5px;

  background-color: #f8f4f4;
  border-radius: 20px;
}